/Database.class
/Main.class
/Item.class
/PhysicalItem.class
/VirtualItem.class
/eBook.class
/Publisher.class
/Newsletter.class
/Textbook.class
/Book.class
/Magazine.class
/CD.class
/Request.class
/Cart.class
/Notification.class
/Rental.class
/Faculty.class
/Manager.class
/Staff.class
/Student.class
/User.class
/Visitor.class
