/BrowsingPanel.class
/CartPanel.class
/CheckoutPanel.class
/LoginPanel.class
/NewsletterBrowserPanel.class
/PaymentMethodDialog.class
/PrivilegeUI.class
/RegisterPanel.class
/RentalsPanel.class
/SubscriptionDialog.class
/SubscriptionPanel.class
/UserDashboardPanel.class
/UserRentalsPanel.class
/WebBrowserWindow.class
